<div class="jumbotron">
  <div class="container">
    <h1>Join the discussion</h1>
    <p>Click the button below to start a new thread:</p>
    <p>
      <%= link_to 'Add new topic', new_comment_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>
<%# @comments.inspect.to_yaml%>
<%= comments_tree_for @comments %>
<%# render @comments %>
<div class="test"></div>